<a href="https://colab.research.google.com/github/MarcosACVieira/finan-as/blob/main/acessar_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import yfinance as yf
from time import sleep

In [ ]:
from pydrive.auth import GoogleAuth
from google.colab import drive
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
import pandas as pd
from datetime import datetime
from dateutil.relativedelta import relativedelta
import numpy as np

auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)
file_id = '1J0v42AlQ2Ba5WxkPzTL3uzdPiz_n9sBO'
download = drive.CreateFile({'id': file_id})
download.GetContentFile('file.csv')
cnpjs_target = pd.read_csv("file.csv")[['CNPJ_FUNDO','Banco']]

In [ ]:
df_all = pd.DataFrame()
months = 12
for i in range(months) :
    currentTimeDate = datetime.now() - relativedelta(months=i) #- timedelta(days=1)
    currentMonth = currentTimeDate.strftime('%Y%m')
    url = "https://dados.cvm.gov.br/dados/FI/DOC/INF_DIARIO/DADOS/inf_diario_fi_" + currentMonth + ".zip"
    print(url)
    df = pd.read_csv(url, compression='zip', sep = ';')
    df = df[df['CNPJ_FUNDO'].isin(cnpjs_target['CNPJ_FUNDO'])]
    df_all = pd.concat([df_all,df])

https://dados.cvm.gov.br/dados/FI/DOC/INF_DIARIO/DADOS/inf_diario_fi_202303.zip
https://dados.cvm.gov.br/dados/FI/DOC/INF_DIARIO/DADOS/inf_diario_fi_202302.zip
https://dados.cvm.gov.br/dados/FI/DOC/INF_DIARIO/DADOS/inf_diario_fi_202301.zip
https://dados.cvm.gov.br/dados/FI/DOC/INF_DIARIO/DADOS/inf_diario_fi_202212.zip
https://dados.cvm.gov.br/dados/FI/DOC/INF_DIARIO/DADOS/inf_diario_fi_202211.zip
https://dados.cvm.gov.br/dados/FI/DOC/INF_DIARIO/DADOS/inf_diario_fi_202210.zip
https://dados.cvm.gov.br/dados/FI/DOC/INF_DIARIO/DADOS/inf_diario_fi_202209.zip
https://dados.cvm.gov.br/dados/FI/DOC/INF_DIARIO/DADOS/inf_diario_fi_202208.zip
https://dados.cvm.gov.br/dados/FI/DOC/INF_DIARIO/DADOS/inf_diario_fi_202207.zip
https://dados.cvm.gov.br/dados/FI/DOC/INF_DIARIO/DADOS/inf_diario_fi_202206.zip
https://dados.cvm.gov.br/dados/FI/DOC/INF_DIARIO/DADOS/inf_diario_fi_202205.zip
https://dados.cvm.gov.br/dados/FI/DOC/INF_DIARIO/DADOS/inf_diario_fi_202204.zip

In [ ]:
# ibov, nasdaq, dowjones,ouro,bitcoin, cripto,Europa, China

In [ ]:
yfin = yf.download(tickers = ['^BVSP','^IXIC', '^DJI','GC=F','BTC-USD','^CMC200','FEZ','000001.SS'], period = '5y')
yfin = yfin[['Close']]
yfin.columns = yfin.columns.droplevel()
yfin['data'] = yfin.index
yfin = yfin.rename(columns={"^BVSP": "ibov", "^IXIC": "Nasdaq", "^DJI": "dowjones", "GC=F": "ouro", "BTC-USD": "Bitcoin", "^CMC200": "Criptos", "FEZ": "Europa", "000001.SS": "China"})

yfin

[*********************100%***********************]  8 of 8 completed

,China,Bitcoin,Europa,ouro,ibov,Criptos,dowjones,Nasdaq,data
Date,,,,,,,,,
2018-03-24,NaN,8668.120117,NaN,NaN,NaN,NaN,NaN,NaN,2018-03-24
2018-03-25,NaN,8495.780273,NaN,NaN,NaN,NaN,NaN,NaN,2018-03-25
2018-03-26,3133.721924,8209.400391,40.040001,1354.400024,85088.000000,NaN,24202.599609,7220.540039,2018-03-26
2018-03-27,3166.648926,7833.040039,39.529999,1341.300049,83808.000000,NaN,23857.710938,7008.810059,2018-03-27
2018-03-28,3122.290039,7954.479980,39.779999,1324.199951,83874.000000,NaN,23848.419922,6949.229980,2018-03-28
...,...,...,...,...,...,...,...,...,...
2023-03-20,3234.909912,27767.236328,42.250000,1979.199951,100923.000000,609.211975,32244.580078,11675.540039,2023-03-20
2023-03-21,3255.649902,28175.816406,43.130001,1938.000000,100998.000000,612.229004,32560.599609,11860.110352,2023-03-21
2023-03-22,3265.750000,27307.437500,43.060001,1946.800049,100221.000000,595.271973,32030.109375,11669.959961,2023-03-22
2023-03-23,3286.649902,28333.972656,43.169998,1993.800049,97926.000000,617.619995,32105.250000,11787.400391,2023-03-23
2023-03-24,3265.653809,27803.474609,42.759998,1979.500000,98707.570312,605.693420,32237.529297,11823.959961,2023-03-24

In [ ]:
url = 'https://api.bcb.gov.br/dados/serie/bcdata.sgs.11/dados?formato=json'
selic = pd.read_json(url)

url = 'https://api.bcb.gov.br/dados/serie/bcdata.sgs.10844/dados?formato=json'
ipca = pd.read_json(url)

selic['data'] = pd.to_datetime(selic['data'], format='%d/%m/%Y')
ipca['data'] = pd.to_datetime(ipca['data'], format='%d/%m/%Y')
df_all['DT_COMPTC'] = pd.to_datetime(df_all['DT_COMPTC'])

# selic = selic[selic['data'].isin(df_all['DT_COMPTC'])]
# ipca = ipca[ipca['data'].isin(df_all['DT_COMPTC'])]

# df_all = df_all[df_all['DT_COMPTC'].isin(selic['data'])]
# df_all = df_all[df_all['DT_COMPTC'].isin(ipca['data'])]

# selic = selic[selic['data'].isin(df_all['DT_COMPTC'])]
# ipca = ipca[ipca['data'].isin(df_all['DT_COMPTC'])]

pivot = pd.pivot_table(df_all, values='VL_QUOTA', index='DT_COMPTC', columns='CNPJ_FUNDO')
selic = selic.set_index('data')
ipca = ipca.set_index('data')

In [ ]:
correl = pd.DataFrame()
correl['cnpj'] = list(pivot)

# acc =[]
# for col in range(pivot.shape[1]) :
#     pivot_col = pivot.iloc[:,col].dropna()
#     selic_copy = selic.loc[pivot_col.index]
#     acc = acc + [selic_copy.corrwith(pivot_col).iloc[0]]

# correl['selic'] = list(acc)

# acc =[]
# for col in range(pivot.shape[1]) :
#     pivot_col = pivot.iloc[:,col].dropna()
#     ipca_copy = ipca.loc[pivot_col.index]
#     acc = acc + [ipca_copy.corrwith(pivot_col).iloc[0]]

# correl['ipca'] = list(acc)

for k in range(len(list(yfin))-1) :
    asset = list(yfin)[k]
    acc =[]
    for col in range(pivot.shape[1]) :
        pivot_col = pivot.iloc[:,col].dropna()
        yfin_copy = yfin[[asset,'data']]
        yfin_copy = yfin_copy.loc[pivot_col.index]
        acc = acc + [yfin_copy.corrwith(pivot_col).iloc[0]]

    correl[asset] = list(acc)

In [ ]:
correl

,cnpj,China,Bitcoin,Europa,ouro,ibov,Criptos,dowjones,Nasdaq
0,00.398.561/0001-90,-0.506672,0.240301,-0.242280,-0.229926,0.940059,0.294278,0.103857,0.274557
1,00.400.490/0001-13,0.114254,-0.502851,0.449154,0.017988,0.090929,-0.481645,0.150433,-0.326813
2,00.601.692/0001-23,-0.431359,0.358388,-0.565471,-0.358411,0.680865,0.397608,-0.121484,0.392553
3,00.817.677/0001-17,-0.098380,-0.744019,0.296480,-0.162008,0.065512,-0.720463,0.102407,-0.624427
4,00.819.889/0001-33,0.062332,-0.813925,-0.089230,-0.425973,-0.427929,-0.809328,-0.249989,-0.645424
...,...,...,...,...,...,...,...,...,...
1338,49.429.025/0001-02,-0.275986,-0.102171,0.301741,-0.172249,0.761333,-0.022633,0.705150,0.591452
1339,49.624.023/0001-66,-0.339007,0.465612,-0.497621,0.837405,-0.884934,0.366087,-0.746127,0.131832
1340,49.731.753/0001-66,0.399046,-0.495042,0.751045,-0.635009,0.379227,-0.517924,0.495280,-0.006395
1341,49.793.563/0001-73,-0.455929,0.915088,-0.258380,0.905733,-0.924454,0.898541,-0.337911,0.633937
1342,56.824.857/0001-80,-0.385607,0.618263,-0.415985,-0.064280,0.546408,0.638409,-0.019660,0.486988